:root {
  visina: 200;
}

.pacient-slika{
    border: 3px solid #993232;
    display: block;
    height: 125px;
    margin: 25px auto;
    width: 125px;
    border-radius: 50%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-transition: all 0.2s ease-out;
}

.button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.16), 0 17px 50px 0 rgba(0,0,0,0.08);
}

.button {
    background-color: #842626;
    border: 1px solid #934646;
    color: white;
    height:100;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.ime {
    margin: 25px auto;
    -webkit-transition: all 0.2s ease-out;
}

.submit {
    background-color: #842626;
    border: 1px solid #934646;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
}

.select {
    color:black;
    background-color: #d14747;
    width:20%;
    text-align: center;
    margin: auto;
    display: block;
}

.submit:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.16), 0 17px 50px 0 rgba(0,0,0,0.08);
}

.logo {
    height:10px;
}

.buffer{
    height:100px;
}

#vnos{
    color:black;
}

#generiranje{
    height:var(visina)px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#imena{
    height:10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#generiranjeCela{
    box-shadow: 0 2px 2px -2px gray;
}

#glavna{
    background: #423e3e;
}

#teza {
	width		: 100%;
	height		: 500px;
	font-size	: 11px;
}

body
{
    background-color: #30303d; color: #fff;
}
#map {
        height: 400px;
        width: 100%;
       }